* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.head {
  width: 100%;
  background-color: #7474ca;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.head button {
  border: none;
  background-color: transparent;
  color: #e9e9ff;
  font-size: 1.2rem;
}
.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #e9e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro {
  text-shadow: 2px 1px 1px #000000;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.google-btn {
  background-color: #101318;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.google-btn:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;
}

.room-container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #7474ca;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.room {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  justify-content: center;
}

.room-card {
  background-color: #7474ca;
  width: 25%;
  min-height: 500px;
  margin-top: 40px;
}
.room-input {
  width: 200px;

  border: 5px solid #7474ca;
}
